@import "colors.css";

/*
    default border radius for buttons: 8px
*/

* {
    font-family: 'JetBrainsMono Nerd Font Propo', sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    border-color: transparent;
}

#workspaces button {
    padding: 0px 5px;
    margin: 0 2px;
    background-color: transparent;
    box-shadow: unset;
    color: @on_primary_container;
    border-radius: 8px;
}

#workspaces button.empty {
    color: alpha(@on_primary_container, 0.2)
}

#workspaces button.active {
    color: @on_primary_container;
    background-color: @primary_container;
    transition: all 0.1s linear;
}

#workspaces button.urgent {
    background-color: @inverse_primary;
}

#workspaces button:hover {
    background-color: @inverse_primary;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-power {
    padding: 0 10px;
    color: @on_primary_container;

    margin: 0 4px;
    border-radius: 8px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
    background-color: alpha(@surface_dim, 0.6);
/* default radius for button */
    border-radius: 8px;
    padding: 4px 2px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-power {
    background-color: alpha(@tertiary_container, 0.5);
    color: @on_tertiary_container;
}

#clock {
    background-color: alpha(@secondary_container, 0.5);
    color: @on_secondary_container;
}

#pulseaudio {
    background-color: alpha(@secondary_container, 0.5);
    color: @on_secondary_container;
}

#pulseaudio.muted {
    background-color: alpha(@secondary_container, 0.5);
    color: @on_secondary_container;
}

#mpris {
    color: @on_primary_container;
    background-color: alpha(@primary_container,0.5);
    padding: 0 12px;
    border-radius: 8px;
}

#mpris.paused {
    color: alpha(@on_primary_container, 0.2);
}

